* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    --white-1:#ffffff;
    --blue-1:#0056FB;
    --blue-2:#518dfb;
    --black-1:#000000;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/*  -------- INÍCIO LEFT -------- */

.left {
    width: 50%;
    height: 100%;
    background-color: var(--white-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-box {
    width: 300px; 
}
.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account img {
    width: 40px;
    position: relative;
    left: 50%;
    bottom: 20px;
    user-select: none;
    opacity: 0.3;
}

input[type="email"], input[type="password"] {
    border: 1px solid var(--black-1);
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: var(--blue-1);
    color: var(--white-1);
    cursor: pointer;
    border: 0;
    transition: 0.5s;    
}

input[type="submit"]:hover {
    background-color:var(--blue-2);
}

.no-account {
    width: 300px;
    margin-top: 5px;
}

.no-account span {
    font-weight: bold;
}

.no-account a {
    text-decoration: none;
}
   
/*  -------- FIM LEFT ----------- */


/*  -------- INÍCIO RIGTH ------- */
.rigth {
    width: 50%;
    height: 100%;
    background-color:var(--blue-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.img-rigth img{
    width: 300px;
}

.rigth div h1 {
    color: var(--white-1);
    font-size: 32px;    
    font-weight: bold;
    margin: 5px auto;
    width: 280px;
}


.rigth div p {
    color: var(--white-1);
    font-size: 10px;
    width: 280px;
    margin: 5px auto;
    line-height: 16px;
}

/*  -------- FIM RIGTH ----------- */


/*  -------- INÍCIO PAGINA NOVA CONTA ------- */

input[type="text"] {
    border: 1px solid var(--black-1);
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.checkbox-accepted {
    display: flex;
    margin-top: 5px;
    width: 300px;
}

.checkbox-accepted span {
    padding: 5px;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 750px) {

    /* ---- INÍCIO PAGINA INDEX ----*/

    main {
        height: 200vh;
        flex-direction: column;
    }

    .left  {
        width: 100vw;
        height: 100vh; 
    }

    .name-box {
        width: 400px;
    }
 
    input[type="email"], input[type="password"], 
    input[type="submit"] {
        width: 400px;
    }

    .no-account {
        width: 400px;
        margin-bottom: 20px;
    }

    .rigth {
       width: 100vw;
       height: 100vh;
    }

    .img-rigth img{
        width: 350px;
        margin: 0 auto;
    }
    
    .rigth div h1 {
        color: var(--white-1);
        font-size: 32px;    
        font-weight: bold;
        margin: 5px auto;
        width: 280px;
    }
    
    .rigth div p {
        color: var(--white-1);
        font-size: 10px;
        width: 280px;
        margin: 5px auto;
        line-height: 16px;
    }

    /* ---- FIM PAGINA INDEX ----*/

    /* ---- INÍCIO PAGINA NOVA-CONTA ----*/

    input[type="text"] {
        width: 400px;
    }

    .checkbox-accepted {
        width: 400px;
    }
      
/* ---- FIM PAGINA NOVA-CONTA ----*/
}

@media (max-width:500px){

    /* ---- INÍCIO PAGINA INDEX ----*/
    
    .name-box {
        width: 250px;
    }
 
    input[type="email"], input[type="password"], 
    input[type="submit"] {
        width: 250px;
    }

    .no-account {
        width: 250px;
    }

    .img-rigth img{
        width: 350px;
    }
    
    .rigth div h1 {
      width: 320px;
    }

    .rigth div p {
        width: 320px;
        margin-top: 20px;
    }
 
    /* ---- FIM PAGINA INDEX ----*/

     /* ---- INÍCIO PAGINA NOVA-CONTA ----*/

    input[type="text"] {
        width: 250px;
    }

    .checkbox-accepted {
        width: 250px;
    }

    /* ---- INÍCIO PAGINA NOVA-CONTA ----*/
}

    

